<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.vijanthi.computervathiyar.ComputerVathiyar"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Techysaw"
        tools:targetApi="31">
        <activity
            android:name="com.vijanthi.computervathiyar.ui.chapter.ChapterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />

        <activity
            android:name="com.vijanthi.computervathiyar.ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Techysaw">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        ca-app-pub-3940256099942544/5224354917-->
<!--        ca-app-pub-2779001057517856/1402100361-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8740059452952570~3434588522"/>

    </application>

</manifest>